# Build
build/
app/build/
**/build/

# Gradle
.gradle/
app/.gradle/
**/.gradle/
local.properties
gradle-wrapper.jar

# IDE
.idea/
app/.idea/
*.iml

# Android
*.apk
*.aab
google-services.json

# Archivos innecesarios
Login.zip